body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dd, input, button, textarea {
  padding: 0;
  margin: 0;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #f9860a;
}

.middle_content {
  width: 1200px;
  margin: 0 auto;
}

.middle_content p {
  text-align: left;
  height: 40px;
  line-height: 40px;
}

.middle_content .pinpai {
  width: 100%;
  box-sizing: border-box;
  border: 1px dashed #d2d2d2;
  height: 133px;
  padding: 5px 10px;
}

.middle_content .pinpai span {
  display: inline-block;
  width: 100px;
  height: 110px;
  float: left;
  text-align: center;
}

.middle_content .pinpai ul {
  width: 938px;
  height: 120px;
}

.middle_content .pinpai ul li {
  width: 115px;
  height: 52px;
  float: left;
  border: 1px solid #d2d2d2;
  position: relative;
}

.middle_content .pinpai ul li img {
  width: 100%;
  height: 100%;
}

.middle_content .pinpai ul li span {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  line-height: 52px;
  display: none;
  color: #f9860a;
  font-weight: bolder;
}

.middle_content .pinpai ul li:hover {
  border-color: #f9860a;
}

.middle_content .pinpai ul li:hover span {
  display: inline-block;
}

.middle_content .jiage {
  width: 100%;
  height: 48px;
  border: 1px dashed #d2d2d2;
  border-top: none;
  box-sizing: border-box;
  padding-left: 10px;
}

.middle_content .jiage span {
  display: inline-block;
  width: 100px;
  line-height: 48px;
  text-align: center;
}

.middle_content .jiage input {
  width: 80px;
}

.middle_content .jiage button {
  width: 60px;
  background-color: red;
  color: #d2d2d2;
  border: none;
  cursor: pointer;
}

.middle_content .paixu {
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding-top: 10px;
  border: 1px solid #d2d2d2;
  margin-top: 20px;
}

.middle_content .paixu a {
  display: inline-block;
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-right: 1px solid #d2d2d2;
}

.middle_content .paixu a i {
  font-style: normal;
}

.middle_content .paixu .selected {
  color: #f9860a;
}

.middle_content .paixu a:hover {
  color: #f9860a;
}

.middle_content .goodslist {
  width: 1200px;
  height: 1880px;
  margin: 20px auto;
}

.middle_content .goodslist ul {
  width: 100%;
  height: 100%;
}

.middle_content .goodslist ul li {
  width: 235px;
  height: 458px;
  margin-right: 4px;
  box-sizing: border-box;
  border: 1px solid #fff;
  float: left;
}

.middle_content .goodslist ul li .shangpin {
  width: 235px;
  height: 458px;
  box-sizing: border-box;
  border: 1px solid #fff;
  padding: 11px 12px;
}

.middle_content .goodslist ul li .shangpin .line1 {
  width: 210px;
  height: 210px;
  margin-bottom: 10px;
}

.middle_content .goodslist ul li .shangpin .line1 img {
  width: 100%;
  height: 100%;
}

.middle_content .goodslist ul li .shangpin .line2 {
  height: 30px;
  margin-bottom: 15px;
}

.middle_content .goodslist ul li .shangpin .line2 ul > li {
  width: 28px;
  height: 28px;
  border: 1px solid #d2d2d2;
  box-sizing: border-box;
  padding: 1px;
  float: left;
}

.middle_content .goodslist ul li .shangpin .line2 ul > li img {
  width: 26px;
  height: 26px;
}

.middle_content .goodslist ul li .shangpin .line3 {
  overflow: hidden;
}

.middle_content .goodslist ul li .shangpin .line3 .price {
  color: red;
  float: left;
}

.middle_content .goodslist ul li .shangpin .line3 .salenum {
  color: #8c8c8c;
  float: right;
  font-size: 16px;
}

.middle_content .goodslist ul li .shangpin .line3 .salenum em {
  font-weight: bold;
  font-style: normal;
}

.middle_content .goodslist ul li .shangpin .describe {
  font-size: 16px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.8);
}

.middle_content .goodslist ul li .shangpin .describe span {
  display: inline-block;
  margin-top: 5px;
}

.middle_content .goodslist ul li .shangpin .describe span:last-child {
  color: #666666;
}

.middle_content .goodslist ul li .shangpin .footer a {
  display: inline-block;
  width: 100px;
  height: 30px;
  border: 1px solid #f9860a;
  text-align: center;
  line-height: 30px;
  color: #f9860a;
}

.middle_content .goodslist ul li .shangpin .footer a:first-child {
  color: black;
  width: 60px;
  margin-right: 20px;
}

.middle_content .goodslist ul li .shangpin .footer a:hover {
  border: 1px dashed #f9860a;
}

.middle_content .goodslist ul li:hover {
  border: 1px solid gray;
  box-shadow: 0 0 4px 0 rgba(85, 85, 85, 0.4);
  transition: border-color .1s ease;
}

.middle_content .yebiao {
  width: 1200px;
  height: 80px;
  margin: 0 auto;
}

.middle_content .yebiao .page {
  height: 30px;
  width: 500px;
  margin: 50px auto;
}

.middle_content .yebiao .page span {
  float: left;
  height: 30px;
  width: 100px;
  text-align: center;
  line-height: 30px;
  background-color: black;
  color: aliceblue;
  cursor: pointer;
}

.middle_content .yebiao .page .page-content {
  float: left;
  height: 30px;
}

.middle_content .yebiao .page-content li {
  float: left;
  height: 30px;
  width: 30px;
  color: blue;
  text-align: center;
  line-height: 30px;
  margin-left: 4px;
  margin-right: 4px;
  cursor: pointer;
  list-style: none;
}

.middle_content .yebiao .page-content li:hover {
  box-sizing: border-box;
  border: 1px solid #000;
  color: black;
}

.middle_content .yebiao .page-content li.selected {
  background-color: rebeccapurple;
}

.middle_content .yebiao .page .disabled {
  background-color: gray;
}
